@inject ExploreCalifornia.Models.FormattingService Format
@model ExploreCalifornia.Models.Post

<article>
	<h1>@Model.Title</h1>
	<div class="details">
		Posted <span>@Format.AsReadableString(Model.Posted)</span> by <span>@Model.Author</span>
	</div>
	<div class="co">
		@Model.Body
	</div>
</article>